body, html, #root {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  height: 100%;
  transition: all 3s;
  background-color: #F7F7F7;
}

h1,h2,h3,h4,h5{
  font-weight: 300;
}

div[data-reactroot]{
  height: 100%;
}

.h100{
  height: 100%;
  overflow: scroll;
}

.container{
    margin: 64px 10px 0 10px;
    height: calc( 100% - 64px);
}

.text-center{
  text-align: center;
}

p {
  font-size: 0.9rem;
  padding: 5px;
  font-weight: 300;
}

.pad20{
  padding: 20px;
}
