.dataContainer{
  height: 100%;
  margin: -12px -10px;
}

.graphContainer{
  height: 50%;
}

.tempContainer{
    height: 50%;
    color: white;

    display: flex;
    align-items: center;
    justify-content: center;
}

.temp{
    text-align: center;
    font-size: 5rem;
    margin-bottom: 0;
}

.temp svg{
    color: white !important;
}

.tempContainer.loading{
    animation: isLoading 2s infinite;
}

@keyframes isLoading {
  0%,100% { color: rgba(255, 255, 255, 1) }
  50% { color: rgba(255, 255, 255, 0.5) }
}
